@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Stalemate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: rgb(112, 112, 112);
}
nav {
  background-image: url("about.jpg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 1230px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -1;
  opacity: 0.7;
}
img {
  order: -1;
  margin-right: 20px;
}

.Logo {
  font-family: "Stalemate", cursive;
  font-size: 35px;
  color: azure;
}
.nav {
  color: black;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.navbar {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: azure;
}

.about {
  font-family: "Seymour One", sans-serif;
  color: azure;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
}
.my {
  font-size: 16px;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: azure;
  flex: 1;
  margin-top: 10px;
}

.footer {
  color: azure;
}
.img {
  filter: brightness(0) invert(1);
}
.icon {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
}
