@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Stalemate&display=swap");
body {
  background-color: black;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 1230px;
}
main {
  background-image: url("background2.jpg");
  background-position: center bottom;
  background-size: 1230px;
  background-repeat: no-repeat;
}
.Logo {
  font-family: "Stalemate", cursive;
  font-size: 35px;
  color: azure;
}
.nav {
  color: black;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.navbar {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: azure;
}
.WELCOME {
  font-size: 70px;
  text-align: left;
  font-family: "Annie Use Your Telescope", cursive;
  color: aliceblue;
}
.head {
  font-size: 60px;
  font-family: "Annie Use Your Telescope", cursive;
  color: aliceblue;
}
.quote {
  color: azure;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 30px;
  text-align: center;
}
.footer {
  color: azure;
}

.img {
  filter: brightness(0) invert(1);
}
.icon {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
}
/* Media queries untuk tampilan responsif pada perangkat seluler (misalnya, lebar maksimum 600px) */
@media screen and (max-width: 600px) {
  .WELCOME {
    font-size: 28px;
  }

  .head {
    font-size: 18px;
  }

  .quote {
    font-size: 16px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    margin: 5px;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    align-content: center;
  }

  .img {
    width: 8px;
    height: 8px;
  }
}
